body {
  margin: 0;
  background-color: black;
  color: white;
  font-size: 0.86em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}
